.cards{
    width: 100%;
    max-width: 1240px;
    height: 804px;
    margin: 43px auto 50px auto;
    padding-top: 25px;
    border-radius: 15px;
    background: #F6F6F6;
    display: flex;
    flex-wrap: wrap;
    overflow-x: auto;
    scrollbar-width: none;
    align-items: center;
    justify-content: center;
}