.card{
    width: 340px;
    height: 340px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    margin: 25px;
    &_img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &_title{
        position: absolute;
        bottom: 15px;
        left: 10px;
        font-weight: 700;
        font-size: 18px;
        margin: 0 10px;
        color: white;
        text-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
    }
}
