.star{
    width: 24px;
    height: 24px;
    color: #e3e3e3;
}
.star--active{
    width: 24px;
    height: 24px;
    color: #FF6060;
}
.tag{
    height: 25px;
    min-width: 100px;
    padding: 0 15px;
    color: #F1F1F1;
    background: #FF6060;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.rental-details{
    margin: 0 100px 50px 100px;
    &__collapses{
        display: flex;
        gap: 76px;
    }
}
.rental-content{
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    &__info-grp-1{
        &--title{
            font-size: 36px;
            color: #FF6060;
            margin: 24px 0 0 0;
        }
        &--loc{
            font-size: 18px;
            margin-top: 0;
        }
        &--tags{
            display: flex;
            flex-direction: row;
            gap: 10px;
        }
    }
    &__info-grp-2{
        display: flex;
        flex-direction: column;
        gap: 21px;
        &--host{
            display: flex;
            align-items: center;
            margin-top: 24px;
            &--name{
                font-size: 18px;
                color: #FF6060;
                margin-right: 10px;
            }
            &--pics{
                height: 64px;
                width: 64px;
                border-radius: 50px;
            }
        }
        &--rating{
            display: flex;
            justify-content: end;
        }
    }

}