.collapse {
width: 100%;
margin-bottom: 20px;
border-radius: 5px;
overflow: hidden;
background: #f6f6f6;
    &__header {
    width: 100%;
    padding: 10px 20px;
    background: #ff6060;
    color: white;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px; 
    font-weight: 500;
    border-radius: 5px;
    transition: all 0.3s ease;
    }
    &__arrow {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 12px solid white;
    transition: transform 0.4s ease;
    }
    &__content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
    background: #f6f6f6;
    }
    &__txt {
    padding: 20px;
    color: black;
    font-size: 18px;
    line-height: 1.4;
    }
}

.collapse__title {
margin: 0;
}
.collapse__header.open .collapse__arrow {
transform: rotate(180deg);
}
.collapse__content.open {
max-height: 500px; 
}