.footer{
    background: black;
    width: 100%;
    height: 209px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &_title{
        color: white;
    }
}