.error{
    display: flex;
    flex-direction: column;
    align-items: center;
    &__h1{
        font-weight: 700;
        font-size: 288px;
        color: #FF6060;
        margin: 0;
    }
    &__h2{
        font-weight: 500;
        font-size: 36px;
        color: #FF6060;
        margin: 139px 0;
    }
    &__link{
        color: black;
        margin-bottom: 139px;
        font-size: 18px;
        &:active{
            color: black;
        }
        &:visited{
            color: black;
        }
    }
}